__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.vscode/

# Virtual environments
.venv
.env
.DS_Store
report/logs/

src/SK-DGCNN/SK-DGCNN-review

# Data
datasets/ModelNet40/*
datasets/DGUHA/*
datasets/SKradHAR/Test
datasets/SKradHAR/Train


# Checkpoints
checkpoints/*/*.pt
